
.addedplayer {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    padding-right: 1rem;
}

.addedplayer label {
    padding-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.addedplayer button {
    justify-self: flex-end;
}
