.cardorganizer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 2rem;
    padding-top: 5rem;
    width: 100%;
}