.mainpage {
    background-image: url("../starry-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.mainpage button {
    height: fit-content;
    width: fit-content;
    align-self: center;
}

.mainpage__titleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: blue;
    border: 2px solid red;
}
